body {
    background-color: white;
    max-width: 1600px;
    font-family: 'PT Serif', serif;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #8bcd6f;
    color: #33476f;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0;
    border-bottom: 1px solid #e6e6e6;
}

#headerRow-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#date {
    font-size: 12px;
    margin-left: 10px;
}

header img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

/* This is the navigation menu */

#headerRow-2 nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-width: 200px;
}

.nav-ul {
    display: block;
    list-style-type: none;
    margin: 0 auto;
}

.nav-ul li a.active {
    color: #33476f;
    font-style: italic;
}

.nav-ul li a.active:hover {
    color: black;
}

.nav-ul li:first-child {
    display: block;
    color: white;
}

.nav-ul li {
    display: none;
    font-size: 15px;
    margin-right: 6vw;
}

.responsive li {
    display: block;
}

.nav-ul a {
    display: block;
    text-align: center;
    color: black;
    padding: 2vw;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

.nav-ul a:hover {
    color: black;
    background-color: #f19f73;
    border-radius: 10px;
    text-decoration: underline;
}

/* Main Content */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

/* Hero Image on Home Page */

.image-container {
    position: relative;
    display: inline-block;
}

#heroImage {
    position: relative;
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    margin: 0 auto;
}

#heroImage img {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.622);
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

#heroImage h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.429);
    padding: 35px;
    color: #fff;
    text-align: center;
    font-size: 10vw;
    border-radius: 50%;
}

/* Fresh Drinks on Home Page */

#freshDrinkContainer {
    text-align: center;
    margin-top: 80px;
}

.freshDrink {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#freshMain {
    max-width: 600px;
}

#freshDrinkContainer h2 {
    font-size: 60px;
    margin-bottom: 5px;
    color: #33476f;
    text-shadow: 6px 1px 8px rgba(0, 0, 0, 0.315);
}

.freshDrink img {
    max-width: calc(100% - 20px);
    height: auto;
    margin-top: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.622);
    border-radius: 15%;
}

.freshDrink #freshText {
    font-family: 'Roboto Slab', serif;
    max-width: 800px;
    border: 1px solid rgba(0, 0, 0, 0.153);
    border-radius: 25%;
    background-color: #f19f7326;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.622);
    margin: 15px;
    padding: 15px;
    color: black;
}

.custom-button {
    display: inline-block;
    width: 180px;
    margin-top: 10px;
    padding: 5px;
    background-color: #8bcd6f;
    color: black;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.622);
    transition: background-color 0.5s ease;
}

.custom-button:hover {
    background-color: #f19f73;
}

#drinkList {
    margin-top: 30px;
    margin-bottom: 60px;
    border: 1px solid #666;
    border-radius: 25%;
    background-color: #f19f7326;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.622);
    max-width: calc(100% - 20px);
}

#drinkList h2 {
    font-size: 35px;
}

#drinkList ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#drinkList li {
    margin: 10px;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: #8bcd6f;
    color: black;
    font-size: 16px;
    display: inline-block;
}


/* Social Media */

.social {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.social h2 {
    font-size: 45px;
    margin-bottom: 15px;
    color: #33476f;
    text-shadow: 6px 1px 8px rgba(0, 0, 0, 0.315);
}

.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMedia a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 0 10px;
    border-radius: 50%;
    border: 1px solid #3333333c;
    background-color: #fff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.622);
    transition: background-color 1s ease;
}

.socialMedia a:hover {
    background-color: #f19f73;
}

.socialMedia img {
    width: 50px;
    height: 50px;
}

/* Weather */

.weather-container {
    background-color: #f1f1f1d7;
    border-radius: 25%;
    border: 1px solid #3333333c;
    padding: 20px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.622);
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 60px;
}

#weather {
    margin: 0;
}

#weather h1 {
    font-size: 45px;
    margin-bottom: 15px;
    color: #33476f;
    text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.315);
}

.line1 {
    width: 200px;
    height: 2px;
    background-color: #333;
    margin: 20px auto;
}

.temp-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #666;
    border-radius: 10px;
    background-color: #8bcd6f0d;
    width: 200px;
    margin: 0 auto;
}

.temperature {
    font-size: 24px;
    color: #333;
    margin-bottom: 40px;
}

.temperature p {
    margin: 0;
}

#weather-icon img {
    width: 100px;
    height: 100px;
    margin-top: -25px;
}

.humidity {
    margin-top: 30px;
    margin-bottom: 30px;
}

.forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #666;
    border-radius: 10px;
    background-color: #8bcd6f0d;
    width: 200px;
    margin: 0 auto;
}

#forecast-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#forecast-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#forecast-list li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#forecast-list li span {
    margin-right: 10px;
}

#forecast-list li strong {
    font-weight: bold;
}

#weather-provider {
    color: #666;
    font-size: 14px;
}

/* Information about the area */

#areaInfo {
    text-align: center;
    margin-top: 50px;
    max-width: 800px;
    margin: 0 auto;
}

#areaInfo h2 {
    font-size: 45px;
    margin-bottom: 15px;
    color: #33476f;
    text-shadow: 6px 1px 8px rgba(0, 0, 0, 0.315);
}

#areaInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#areaInfoText {
    max-width: 600px;
    margin-bottom: 20px;
}

#areaInfoText p {
    font-family: 'Roboto Slab', serif;
    max-width: 800px;
    border: 1px solid rgba(0, 0, 0, 0.153);
    border-radius: 25%;
    background-color: #f19f7326;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.622);
    margin: 15px;
    padding: 35px;
    color: black;
}

#areaInfoImage img {
    border-radius: 20%;
    max-width: calc(100% - 20px);
    height: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.622);
    margin-left: 10px;
    margin-right: 10px;
}

/* About Us Main Section */

#aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#aboutUs h1 {
    font-size: 45px;
    margin-bottom: 15px;
    color: #33476f;
    text-shadow: 6px 1px 8px rgba(0, 0, 0, 0.315);
    text-decoration: underline;
}

#contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid rgba(0, 0, 0, 0.153);
    border-radius: 10%;
    background-color: #f19f7326;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.622);
    padding: 5px;
    margin-bottom: 60px;
    width: 325px;
}

#contactInfoColumn-1,
#contactInfoColumn-2,
#contactInfoColumn-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#contactInfoColumn-1 h2,
#contactInfoColumn-2 h2,
#contactInfoColumn-3 h2 {
    color: #33476f;
    text-decoration: underline;
}

#map a img {
    width: 300px;
    border-radius: 20%;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.622);
    margin: 20px;
}

#foodTruck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.153);
    border-radius: 10%;
    background-color: #8bcd6f4a;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.622);
    padding: 50px 20px 90px 20px;
    margin-bottom: 60px;
    width: 325px;
}

#foodTruck h2 {
    color: #33476f;
    text-decoration: underline;
    font-size: 35px;
}

#foodTruck h3 {
    color: #33476f;
    text-decoration: underline;
    font-size: 30px;
}

#foodTruck h4 a {
    color: #33476f;
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 1px;
}

#foodTruck h4:hover {
    background-color: #f19f73;
    font-size: 20px;
    padding: 5px;
}

#foodTruck #updatedLocations {
    text-decoration: underline;
}

#foodTruck p {
    font-family: 'Roboto Slab', serif;
}

#companyDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.153);
    border-radius: 10%;
    background-color: #f19f7326;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.622);
    padding: 50px 20px 90px 20px;
    margin-bottom: 60px;
    width: 325px;
}

#companyDescription h2 {
    color: #33476f;
    text-decoration: underline;
    font-size: 35px;
}

#companyDescription p {
    font-family: 'Roboto Slab', serif;
}

/* This is the css for the Fresh page */

#freshPageMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#freshPageMain h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 55px;
    color: #33476f;
    text-shadow: 6px 1px 8px rgba(0, 0, 0, 0.315);
    text-decoration: underline;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 300px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.622);
}

#fruit1,
#fruit2,
#fruit3 {
    width: 300px;
    height: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.622);
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

#specialInstructions {
    width: 300px;
    height: 200px;
}   

button[type="submit"] {
    margin-top: 15px;
    background-color: #33476f;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.622);
}

button[type="submit"]:hover {
    background-color: #f19f73;
    color: black;
}

#output {
    margin-top: 20px;
}

#orderOutput {
    width: 300px;
    height: 600px;
    padding-top: 0;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f19f7326;
    border: 1px solid rgba(0, 0, 0, 0.622);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.622);
}

#orderOutput h3 {
    color: #33476f;
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
}

#output h3 {
    margin-top: 0;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: #33476f;
    color: #d6affb;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
    border-top: 1px solid #e6e6e6;
}

#footerRow-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#logoName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logoName p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

#footerRow-1 img {
    height: 50px;
    width: 50px;
    justify-content: flex-start;
    border-radius: 50%;
}

#footerContact {
    font-size: 14px;
}

#footerRow-2 {
    margin: 0 auto;
}