@media only screen and (min-width: 1024px) {

    /* Header */

    .content {
        display: flex;
        flex-direction: column;
        background-color: #297373;
    }

    .social {
        display: flex;
        flex-direction: column;
    }

    /* Main Header Row */

    .row-1 {
        display: flex;
        flex-direction: row;
    }

    #col1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 20px;
      }      

    .logo {
        max-height: 150px;
        margin-top: 10px;
        margin-right: 30px;
        margin-left: 30px;
    }

    .heading {
        font-size: 20px;
        margin-right: 20px;
        align-items: center;
        justify-content: center;
        color: #e6e6e6;
    }

    /* This is the Social media icons and the navigation */

    .cont {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    /* This is the social media icons */

    #col1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 50px;
    }

    /* This is the navigation menu */

    #col2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 25px;
        margin-right: 50px;
    }

    .social img {
        height: 70px;
    }

    .nav-ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0 auto;
    }

    .nav-ul li:first-child {
        display: none;
    }

    .nav-ul li {
        display: block;
    }

    .nav-ul a {
        display: flex;
        text-align: center;
        margin: 15px;
        color: #e6e6e6;
        padding: 15px;
    }

    .nav-ul a:hover {
        color: black;
        background-color: #ff8552;
        text-decoration: underline;
    }


    /* Date Header Row */
    .row-2 {
        display: flex;
        justify-content: center;
        background-color: #e6e6e6;
        margin: 5px;
        font-size: 30px;
    }



    /* Main */

    main {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .column1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        order: 1;
    }

    .placeholder-box-1 {
        height: 380px;
        width: 380px;
        border: 1px solid black;
        box-sizing: border-box;
        background-color: #e6e6e6;
        display: block;
        order: 1;
    }

    .placeholder-box-2 {
        height: 380px;
        width: 380px;
        border: 1px solid black;
        box-sizing: border-box;
        background-color: #e6e6e6;
        display: block;
        order: 2;
    }

    .placeholder-box-3 {
        height: 380px;
        width: 380px;
        border: 1px solid black;
        box-sizing: border-box;
        background-color: #e6e6e6;
        display: block;
        order: 3;
    }

    .column2 {
        display: flex;
        flex-direction: column;
        width: 770px;
        gap: 12px;
        order: 2;
    }

    .placeholder-box-4 {
        border: 1px solid black;
        box-sizing: border-box;
        height: 770px;
        background-color: #e6e6e6;
        display: block;
    }

    .column2 .placeholder-box-5 {
        border: 1px solid black;
        box-sizing: border-box;
        height: 380px;
        background-color: #e6e6e6;
        display: block;
        order: 2;
    }

    .column3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1160px;
        width: 380px;
        border: 1px solid black;
        box-sizing: border-box;
        background-color: #e6e6e6;
        order: 3;
    }

    .placeholder-box-6 {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        box-sizing: border-box;
    }

    #inner-box {
        margin: 0px;
        height: 1110px;
    }

    .inner-box-1,
    .inner-box-2,
    .inner-box-3 {
        display: block;
        height: 370px;
        width: 330px;
        border: 1px solid black;
        box-sizing: border-box;
    }

    .column3 .placeholder-box-5 {
        display: none;
    }

    /* Footer */

    footer {
        display: flex;
        flex-direction: column;
        background-color: #e6e6e6;
    }

    .main-part {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    footer .logo {
        height: 200px;
        display: flex;
        margin-top: 45px;
    }

    .title-main {
        display: flex;
        flex-direction: column;
        line-height: 1px;
    }

    .title {
        flex-direction: column;
        font-size: 30px;
        margin-bottom: -20px;
        gap: 1px;
    }

    .address {
        font-size: 25px;
        line-height: .5;
    }

    .map {
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        box-sizing: border-box;
        background-color: #e6e6e6;
        width: 300px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        font-size: 25px;
        line-height: .5;
        margin-right: 100px;
        margin-top: 10px;
        gap: 5px;
    }
              
    .addTitle {
        display: block;
      }


    #footer {
        display: flex;
        justify-content: center;
        background-color: #297373;
        color: #e6e6e6;
        padding: 5px;
        margin: 5px;
        font-size: 25px;
    }
}