@media only screen and (min-width: 1024px) {

    .banner {
        padding: .5vw;
        font-size: 2vw;
    }

    /* Header */

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #297373;
        width: 100%;
        max-width: 1600px;
    }

    /* Main Header Row */

    .row-1 {
        display: flex;
        flex-direction: row;
    }

    .logo {
        max-height: 150px;
        margin-left: 1.5vw;
        margin-bottom: 1.75vw;
    }

    .heading {
        font-size: 1.15vw;
        max-height: fit-content;
        color: #e6e6e6;
    }

    /* This is for the Social media icons and the navigation */

    .cont {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /* This is the social media icons */

    #col1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 6vw;
        margin-left: 2vw;
    }

    .social {
        display: flex;
        flex-direction: column;
    }

    /* This is the navigation menu */

    #col2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav-ul {
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: space-evenly;
        margin-right: 1vw;
    }

    .nav-ul li:first-child {
        display: none;
    }

    .nav-ul li {
        display: flex;
        flex-direction: column;
        max-width: fit-content;
    }

    .nav-ul a {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        color: #e6e6e6;
        padding: 2vh;
        font-size: 1.5vw;
        margin-left: -6.5vw;
    }

    .nav-ul a:hover {
        color: black;
        background-color: #ff8552;
        text-decoration: underline;
    }


    /* Date Header Row */
    .row-2 {
        display: flex;
        max-height: 10px;
        justify-content: center;
        background-color: #e6e6e6;
        font-size: 2vw;
        padding-bottom: 1vw;
    }


    /* Main */

    main {
        margin-top: 1vh;
        flex-direction: row;
        justify-content: space-between;
        gap: 1vw;
        margin-left: .5vw;
        width: 1000px;
    }

    .cards {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }

    .joinUs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contentJoin {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        max-width: 1000px;
        width: 1000px;
        margin-top: 3rem;
    }

    .joinColumn1 {
        flex: 1;
        max-width: 500px;
    }

    .levelsDisplay {
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
        font-size: 1rem;
        padding: 10px;
        border: 1px solid black;
        box-shadow: 1px 1px 1px #474646;
        border-radius: 10px;
        background-color: #2973731e;
    }

    .benefitList {
        text-align: left;
    }

    .benefitList li {
        margin-bottom: .5vh;
    }

    .info-link {
        display: none;
    }

    .joinColumn2 {
        display: block;
        flex: 1;
        max-width: 500px;
        margin-top: -5vh;
    }

    .joinColumn2 h2 {
        font-size: 1.5rem;
        color: #297373;
    }

    #discover-main p {
        font-size: 1.55vw;
    }

    .column1 {
        display: flex;
        flex-direction: column;
        gap: 1vw;
        order: 1;
    }

    .placeholder-box-1 {
        width: 22.5vw;
        height: 22.5vw;
        display: flex;
        order: 1;
    }


    .placeholder-box-2 {
        width: 22.5vw;
        height: 22.5vw;
        border: 1px solid black;
        box-sizing: border-box;
        display: flex;
        order: 2;
    }

    .line1 {
        width: 90%;
    }

    .placeholder-box-2 img {
        height: 100%;
    }

    .placeholder-box-3 {
        width: 22.5vw;
        height: 22.5vw;
        display: flex;
        order: 3;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .column2 {
        display: flex;
        flex-direction: column;
        gap: 1vw;
        width: 45vw;
        order: 2;
    }

    .placeholder-box-4 {
        width: 45vw;
        height: 45vw;
    }

    .overlay3 {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 10vw;
    }

    /* .overlay1 {
        display: none;
    } */

    .overlay2 {
        display: none;
    }

    .column2 .placeholder-box-5 {
        width: 45vw;
        height: 45vw;
        display: block;
        order: 2;
    }

    .column3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vw;
        width: 22.5vw;
        border: 1px solid black;
        box-sizing: border-box;
        background-color: #e6e6e6;
        order: 3;
    }

    .placeholder-box-6 {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        box-sizing: border-box;
        gap: 1vw;
    }

    #inner-box {
        margin: 0px;
        height: 20vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inner-box-1,
    .inner-box-2,
    .inner-box-3 {
        display: block;
        width: 20vw;
        border: 1px solid black;
        box-sizing: border-box;
    }

    .spot-1 {
        line-height: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .inner-box-1 h2 {
        font-size: 2vw;
        text-decoration: none;
    }

    .inner-box-1 h3 {
        font-size: 1.75vw;
        line-height: .85;
        margin-bottom: .25em;
    }

    .inner-box-1 p {
        font-size: 1.5vw;
    }

    .spot-2 {
        line-height: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inner-box-2 h2 {
        font-size: 1.75vw;
        margin-bottom: -.25em;
    }

    .inner-box-2 p {
        font-size: 1.5vw;
        margin-bottom: -.25em;
    }

    .inner-box-3 {
        background-color: #ff8552;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .spot-3 {
        line-height: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .5vw;
    }

    .spot-3 h2 {
        font-size: 2vw;
        margin-bottom: .05em;
    }

    .spot-3 p {
        font-size: 1.5vw;
        font-family: "Cinzel Decorative family";
    }

    .column3 .placeholder-box-5 {
        display: none;
    }

    /* Footer */

    footer {
        display: flex;
        flex-direction: column;
        background-color: #e6e6e6;
    }

    .main-part {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    footer .logo {
        height: 10vw;
        margin-bottom: 1vw;
    }

    .title-main {
        display: flex;
        flex-direction: column;
    }

    .title h3 {
        font-size: 1.75vw;
        gap: 0;
    }

    .address {
        font-size: 1.5vw;
    }

    .map-link {
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        box-sizing: border-box;
        background-color: #e6e6e6;
        width: 20vw;
        height: 10vw;
    }

    .map {
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        box-sizing: border-box;
        background-color: #e6e6e6;
        width: 20vw;
        height: 10vw;
    }

    .map img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contact {
        display: flex;
        flex-direction: column;
        font-size: 1.75vw;
        line-height: .5;
        margin-right: 5vw;
        margin-top: .5vw;
        gap: .5vw;
    }

    .addTitle {
        display: block;
    }


    #footer {
        display: flex;
        justify-content: center;
        background-color: #297373;
        color: white;
        padding: .5vw;
        margin: .5vw;
        font-size: 2vw;
    }
}