@media only screen and (min-width: 764px){

/* Header */

.col2 {
    margin-right: 50px;
}
.social {
display: flex;
flex-direction: column;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .inner-box-3,
  .column3 .placeholder-box-5 {
    display: none;
  }
  
  .column1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    order: 3;
  }
  
  .column2 {
    order:1;
  }
  
  .column3 {
    order: 2;
  }
  
  #placeholder {
    flex: 1 0 100px;
    margin: 10px;
  }
  
  .placeholder-box-4 {
    order: 1;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #e6e6e6;
    height: 200px;
  
  }
 
  .placeholder-box-1 {
    order: 2;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #e6e6e6;
    height: 200px;
    flex-basis: 66.6%;
  }
  
  .placeholder-box-2 {
    order: 3;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #e6e6e6;
    height: 200px;
    flex-basis: 33.3%;
  }

  .placeholder-box-3 {
    display: block flex;
    flex-direction: row;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #e6e6e6;
    height: 200px;
    order: 1;
  }
  
  .column2 .placeholder-box-5 {
    display: block;
    order: 2;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #e6e6e6;
    height: 200px;
  
  }
  
  .placeholder-box-6 {
    order: 5;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #e6e6e6;
    height: 200px;
    display: flex;
  }
  
  #inner-box {
    margin: 10px;
    flex-basis: 50%;
  }
  
  .inner-box-1,
  .inner-box-2 {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #e6e6e6;
    height: 175px;
  }
}

/* Footer */

.contact {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 9px;
    line-height: .5;
    gap: 40px;
}
          
.addTitle {
    display: none;
  }

.title {
    flex-direction: row;
    gap: 14px;
}

.title h3 {
    font-size: 30px;
}
