/* --primary-color: #35a1b2;tourquise
--secondary-color: #297373; blue teal
--accent1-color: #ff8552; orange
--accent2-color: #e6e6e6;grey
--accent3-color: #39393a; charcoal */

body {
  max-width: 1600px;
  background-color: white;
  margin: 0 auto;
  margin-top: .25vh;
}

/* Header */

.content {
  display: flex;
  flex-direction: column;
  background-color: #297373;
  font-family: "Castoro Titling", serif;
}

/* Main Header Row */

.row-1 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.logo {
  display: flex;
  max-height: 10vh;
  padding-top: 2vh;
  margin: 0 auto;
}

.heading {
  font-size: 2vh;
  text-align: center;
  color: #e6e6e6;
}

/* This is the Social media icons and the navigation */

.cont {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

/* This is the social media icons */

#col1 {
  display: none;
}

.social {
  display: none;
}

.social img {
  height: 3vw;
}

/* This is the navigation menu */

.nav-ul li:first-child {
  display: block;
  color: #e6e6e6;
}

.nav-ul li {
  display: none;
  font-size: 2.5vw;
  margin-right: 6vw;
}

.responsive li {
  display: block;
}

.nav-ul {
  display: block;
  flex-direction: row;
  list-style-type: none;
  margin: 0 auto;
}

.nav-ul a {
  display: block;
  text-align: center;
  color: #e6e6e6;
  padding: 2vw;
}

.nav-ul a:hover {
  color: white;
  background-color: #ff8552;
  text-decoration: underline;
}


/* Date Header Row */
.row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  font-size: 2.5vw;
  height: 3vw;
  padding-top: 2vw;
}



/* Main */

main {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  margin-right: 2vw;
}

.placeholder-box-3,
.inner-box-3,
.column2 .placeholder-box-5 {
  display: none;
}

.column1 {
  order: 2;
}

.column2 {
  order: 1;
}

.column3 {
  order: 3;
}

#placeholder {
  flex: 1 0 100px;
  margin: 1.5vw;
}

.placeholder-box-4 {
  position: relative;
  order: 1;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: #e6e6e6;
  height: 200px;
  overflow: hidden; /* Hide any overflow if the image exceeds the container */
  margin: 0 auto; /* Center the container horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1vh 2vw #4b4949;
}

.hero img {
max-width: none;
max-height: none;
}

.placeholder-box-1 {
  order: 2;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: #e6e6e6;
  height: 200px;
  box-shadow: 0 1vh 2vw #4b4949;
}

.placeholder-box-2 {
  order: 3;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: #e6e6e6;
  height: 200px;
  box-shadow: 0 1vh 2vw #4b4949;
}

.column3 .placeholder-box-5 {
  order: 4;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: #e6e6e6;
  height: 200px;
  box-shadow: 0 1vh 2vw #4b4949;
}

.placeholder-box-6 {
  order: 5;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: #e6e6e6;
  height: 440px;
  box-shadow: 0 1vh 2vw #4b4949;
}

#inner-box {
  margin: 3vh;
}

.inner-box-1,
.inner-box-2 {
  border: 1px solid black;
  box-sizing: border-box;
  background-color: #e6e6e6;
  height: 190px;
}



/* Footer */

footer {
  display: flex;
  flex-direction: column;
  margin: 1vw 0 auto;
  background-color: #e6e6e6;
  font-family: "Castoro Titling", serif;
}

.main-part {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

footer .logo {
  display: flex;
  max-height: 90px;
}

.title-main {
  display: block;
}

.title {
  font-size: 2.5vw;
}

.address {
  font-size: 2vh;
  line-height: .5;
}

.map {
  display: none;
}

.contact {
  display: none;
}

#footer {
  display: flex;
  background-color: #297373;
  color: #e6e6e6;
  padding: 1.5vw;
  justify-content: center;
  text-align: center;
  font-size: 2vw;
  max-width: 100%;
}