/* --primary-color: #35a1b2;tourquise
--secondary-color: #297373; blue teal
--accent1-color: #ff8552; orange
--accent2-color: #e6e6e6;grey
--accent3-color: #39393a; charcoal */

body {
  max-width: 1600px;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}

.banner {
  background-color: #ff8552;
  color: black;
  padding: 2vw;
  text-align: center;
  font-size: 4vw;
}

/* Header */

.content {
  display: flex;
  max-width: 1600px;
  flex-direction: column;
  background-color: #297373;
  font-family: "Castoro Titling", serif;
}

/* Main Header Row */

.row-1 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.logo {
  display: flex;
  max-height: 10vh;
  margin: 0 auto;
  padding-top: .5vh;
}

.heading {
  font-size: 1.5vh;
  text-align: center;
  color: #e6e6e6;
}

/* This is the Social media icons and the navigation */

.cont {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

/* This is the social media icons */

#col1 {
  display: none;
}

.social {
  display: none;
}

.social img {
  height: 3vw;
}

/* This is the navigation menu */

.nav-ul li:first-child {
  display: block;
  color: #e6e6e6;
}

.nav-ul li {
  display: none;
  font-size: 2.5vw;
  margin-right: 6vw;
}

.responsive li {
  display: block;
}

.nav-ul {
  display: block;
  flex-direction: row;
  list-style-type: none;
  margin: 0 auto;
}

.nav-ul a {
  display: block;
  text-align: center;
  color: #e6e6e6;
  padding: 2vw;
}

.nav-ul a:hover {
  color: white;
  background-color: #ff8552;
  text-decoration: underline;
}


/* Date Header Row */
.row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  font-size: 2.5vw;
  height: 3vw;
  padding-top: 2vw;
}


/* Main */

main {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  margin-right: 2vw;
  max-width: 1600px;
  padding: 3vw;
}

#discover-main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Castoro Titling", serif;
}

#discover-main h1 {
  font-size:10vw;
  color: #297373;
  text-shadow: 2px 2px #ff8552;
  text-decoration: underline;
  border: 1px solid black;
  border-radius: 10px;
  max-width: fit-content;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 80px;
  background-color: #e6e6e6;
}

#discover-main h2 {
  font-size: 4vw;
  color: #ff8552;
  background-color: #297373;
  max-width: fit-content;
  margin: 0  auto;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

#discover-main p {
  font-size: 2.85vw;
  color: #39393a;
  font-family: "Cinzel Decorative family";
  max-width: 800px;
  margin: 0 auto;
  background-color: #2973734c;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

#discover-main div {
  margin: 0 auto;
  margin-bottom: 40px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #e6e6e6;
  position: relative;
}

.discover-boxes {
  padding: 20px;
} 

.discover-img {
  width: 100%;
  max-width: 550px;
  height: 45vh;
  overflow: hidden;
  position: absolute;
  object-fit: cover;
}

.discover-img img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.discover-img .placeholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder-box-3,
.inner-box-3,
.column2 .placeholder-box-5 {
  display: none;
}

.column1 {
  order: 2;
}

.column2 {
  order: 1;
}

.column3 {
  order: 3;
}

#placeholder {
  flex: 1 0 100px;
  margin: 1.5vw;
}

.placeholder-box-4 {
  position: relative;
  order: 1;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: #e6e6e6;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1vh 2vw #4b4949;
}

.overlay1 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 10vw;
}  

.overlay2 {
  display: none;
}

.overlay3 {
  display: none;
}

.hero img {
  max-width: none;
  max-height: none;
}

.placeholder-box-1 {
  order: 2;
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: #e6e6e6;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1vh 2vw #4b4949;
  font-family: "Castoro Titling", serif;
}

.event-center {
  max-width: none;
  max-height: none;
}

.event-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3.5vw;
}

.event-text h3 {
  color: #297373;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 1vw;
  padding: .5vw;
}

.event-text p {
  color: #297373;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 1vw;
  padding: .5vw;
  font-weight: bold;
}

.placeholder-box-2 {
  order: 3;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: #297373;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1vh 2vw #4b4949;
  font-family: "Castoro Titling", serif;
  color: black;
  font-weight: 1000;
  line-height: 1px;
}

.placeholder-box-2 h1 {
  margin-top: 1vw;
  font-size: 3.75vw;
  text-shadow: 1px 1px 4px #ff8652b2;
}

.line1 {
  width: 30%;
  height: 2px;
  background-color: #ff8552;
  margin-top: .5vw;
  margin-bottom: .75vw;
}

.temperature {
  display: flex;
  flex-direction: row;
  gap: .25vw;
}

.placeholder-box-2 p {
  font-size: 1.75vw;
}

.windS {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5vw;
  font-size: 1.75vw;
}

.placeholder-box-2 img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  /* position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%; */
}

.placeholder-box-5 {
  position: relative;
  order: 2;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: black;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1vh 2vw #4b4949;
}

.placeholder-box-5 .news2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.news2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.news2-text {
  position: absolute;
  top: 47.5%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2.5vw;
  font-family: "Cinzel Decorative family";
}

.news2-text h2 {
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 1vw;
  padding: .5vw;
}

.news2-text p {
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 1vw;
  padding: .5vw;
}

.placeholder-box-6 {
  order: 5;
  border: 1px solid black;
  box-sizing: border-box;
  height: 440px;
  box-shadow: 0 1vh 2vw #4b4949;
  background-color: #e6e6e6;
  font-family: "Castoro Titling", serif;
}

#inner-box {
  margin: 3vh;
}

.inner-box-1 {
  border: 1px solid black;
  box-sizing: border-box;
  color: black;
  background-color: #ff8552;
  height: 190px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spot-1 {
  line-height: .5;
}

.inner-box-1 h2 {
  font-size: 5vw;
  text-decoration: underline;
}

.inner-box-1 h3 {
  font-size: 4vw;
}

.inner-box-1 p {
  font-size: 3vw;
}

.inner-box-2 {
  border: 1px solid black;
  box-sizing: border-box;
  background-color: #297373;
  height: 190px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spot-2 {
  padding-left: 1vw;
  padding-right: 1vw;
  line-height: 1;
}

.inner-box-2 h2 {
  text-decoration: underline;
  margin-top: 1vw;
}

.inner-box-2 p {
  font-family: "Cinzel Decorative family";
  font-size: 3vw;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  margin: 1vw 0 auto;
  background-color: #e6e6e6;
  font-family: "Castoro Titling", serif;
}

.main-part {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  line-height: .25;

}

footer .logo {
  display: flex;
  max-height: 90px;
}

.title-main {
  display: block;
}

.title {
  font-size: 2.5vw;
}

.address {
  font-size: 2vh;
  line-height: .5;
}

.map {
  display: none;
}

.contact {
  display: none;
}

#footer {
  display: flex;
  background-color: #297373;
  color: #e6e6e6;
  padding: 1.5vw;
  justify-content: center;
  text-align: center;
  font-size: 2vw;
  max-width: 100%;
}